.app {
  .title {
    color: blue;
  }
}

.content-base {
  padding-top: 2%;
}

.login {
    position: absolute;
    right: 5%;

    .login-icon {
        padding-right: 1rem;
    }
}

.login-form {
    padding: 5%;
}
