.app {
  .title {
    color: blue;
  }
}

.content-base {
  padding-top: 2%;
}

.login {
    position: absolute;
    right: 5%;

    .login-icon {
        padding-right: 1rem;
    }
}

.login-form {
    padding: 3% 5% 5% 5%;
}

.column-heading-centered {
    text-align: center;
}

.droparea {
    border-width: 2px;
    border-radius: 10px;
    border-color: #ccc;
    border-style: dashed;
    padding: 11%;
    text-align: center;

    .droparea-error,
    .droparea-text {
        font-size: 20px;
    }

    .droparea-error {
        color: red;
    }
}

.card,
.listing {
    border-width: 2px;
    border-radius: 10px;
    border-color: #ccc;
    border-style: solid;
    width: 95%;
    padding: 3%;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 0%;
    margin-bottom: 0%;
    overflow: auto;
}

.card:hover {
    cursor: pointer;
}

.card {
    display: grid;
    height: 100%;

    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.card-image,
.listing-image {
    border-radius: 10px;
    padding-bottom: 5px;
    float: left;
}

.card-image {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.listing-image {
    width: 50%;
    padding-right: 15px;
}

.footer {
    padding-top: 50px;
}

.major-metadata {
    font-size: 16px;
}

.unstyled-link {
    color: inherit;
}
