.content-base {
  padding-top: 2%;
}

.login {
    position: absolute;
    right: 5%;
}

.login-form {
    padding: 3% 5% 5% 5%;
}

.text-centered {
    text-align: center;
}

.droparea-user,
.droparea-listing {
    border-width: 2px;
    border-radius: 10px;
    border-color: #ccc;
    border-style: dashed;
    text-align: center;

    .droparea-error,
    .droparea-text {
        font-size: 20px;
    }
}

.droparea-listing {
    padding: 11%;
}

.droparea-user {
    padding: 4%;
}

.card,
.listing {
    width: 95%;
    padding: 3%;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 0%;
    margin-bottom: 0%;
    overflow: auto;
}

.listing{
    .bid-button {
        margin-top: 2.5vh !important;
        min-height: 5vh !important;
    }

    .listing-information {
        display: grid;
        overflow: auto;
        max-height: 60vh;
        padding-bottom: 2vh;
        padding-right: 2vh;
        padding-left: 2vh;
    }

    .listing-history-table,
    .listing-metadata-table {
        margin-left: calc(1.25em + 0.25rem); /* Explicit width + margin of dropdown icon. */
        width: calc(100% - (1.25em + 0.25rem));
        .name-cell {
            padding-right: 15px;
            vertical-align: top;
        }

        th {
            background-color: #ccc;
        }
    }

    .listing-history-table {
        text-align: center;
    }

    .listing-image {
        width: 50%;
        padding-right: 15px;
        max-height: 50vh;
    }
}

.my_bids,
.my_listing {
    margin-top: 1rem;
    margin-bottom: 1rem;

    position: relative;

    img {
        max-height: 8rem;
        max-width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    b {
        font-size: large;
    }

    .icon-bar {
        display: flex;
        justify-content: right;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    .winning {
        color: green;
    }

    .losing {
        color: red;
    }

    cursor: pointer;
}

.active:hover {
    background-color: #f4f4f4;
}

.delisted {
    background-color: #ccc;
}

.delisted:hover {
    background-color: #d4d4d4;
}

.my_listing, .my_bids, .card {
    border-width: 2px;
    border-radius: 10px;
    border-color: #ccc;
    border-style: solid;
}

.card {
    display: grid;
    height: 100%;

    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;

    .card-metadata {
        display: flex;
        justify-content: space-between;

        .major-metadata {
            font-size: 16px;
        }
    }

    .card-image {
        width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        max-height: 25vh;
    }
}


.card:hover {
    cursor: pointer;
}

.card-image,
.listing-image {
    padding-bottom: 5px;
    float: left;
    object-fit: contain;
}

.card-edit:hover {
    color: blue;
}

.card-trash:hover {
    color: red;
}

.results-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
}

.softly-rounded {
    border-radius: .28571429rem !important;
}

.footer {
    padding-top: 50px;
}

.unstyled-link {
    color: inherit;
}

.notif-dropdown {
    display: flex;
    align-items: center;
}

.res-circle {
    /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
    border-radius: 50%;
  
    /* (B) BACKGROUND COLOR */ 
    background: red;
    color: white;
   
    /* (C) NECESSARY TO POSITION TEXT BLOCK */
    line-height: 0;
    position: absolute;
    margin-left: 0.5rem;
    right: 0.5rem;
}
   
/* (D) MATCH HEIGHT */
.res-circle::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
   
/* (E) TEXT BLOCK */
.circle-txt {
    /* (E1) CENTER TEXT IN CIRCLE */
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
   
    /* (E2) THE FONT - NOT REALLY IMPORTANT */
    font-family: arial, sans-serif;
    font-weight: bold;
}


.name-trigger > .res-circle {
    font-size: 7pt;
    top: 0.2rem;
}

.notification {
    .notification-box {
        padding: 16px 12px 16px 12px;

        .notification-text {
            cursor: pointer;
        }
    }

    .unseen {
        background-color: rgba(112, 181, 249, 0.2);
    }

    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.fake-link {
    color: #4183c4;
}

.red {
    color: red;
}

.user-profile {
    .edit-icon {
        display: flex;
        justify-content: right;
        position: relative;
        right: 20%;
        top: 1em;
        height: 0;
    }

    .edit-icon > svg {
        background-color: white;
        border-radius: 0.1875em;
        border: solid 0.1875em white;
        cursor: pointer;
    }

    img {
        max-width: 50%;
        border-radius: 50%;
    }
}
