.app {
  .title {
    color: blue;
  }
}

.content-base {
  padding-top: 2%;
}

.login {
    position: absolute;
    right: 5%;
}

.login-form {
    padding: 3% 5% 5% 5%;
}

.bid-button {
    margin-top: 2.5vh !important;
    min-height: 5vh !important;
}

.column-heading-centered {
    text-align: center;
}

.droparea {
    border-width: 2px;
    border-radius: 10px;
    border-color: #ccc;
    border-style: dashed;
    padding: 11%;
    text-align: center;

    .droparea-error,
    .droparea-text {
        font-size: 20px;
    }

    .droparea-error {
        color: red;
    }
}

.card,
.listing {
    width: 95%;
    padding: 3%;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 0%;
    margin-bottom: 0%;
    overflow: auto;
}

.card:hover {
    cursor: pointer;
}

.card {
    border-width: 2px;
    border-radius: 10px;
    border-color: #ccc;
    border-style: solid;

    display: grid;
    height: 100%;

    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.card-image,
.listing-image {
    padding-bottom: 5px;
    float: left;
    object-fit: contain;
}

.listing-information {
    display: grid;
    overflow: auto;
    max-height: 60vh;
    padding-bottom: 2vh;
    padding-right: 2vh;
    padding-left: 2vh;
}

.card-metadata {
    display: flex;
    justify-content: space-between;
}

.card-edit:hover {
    color: blue;
}

.card-trash:hover {
    color: red;
}

.results-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
}

.card-image {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 25vh;
}

.listing-image {
    width: 50%;
    padding-right: 15px;
    max-height: 50vh;
}

.softly-rounded {
    border-radius: .28571429rem !important;
}

.footer {
    padding-top: 50px;
}

.major-metadata {
    font-size: 16px;
}

.unstyled-link {
    color: inherit;
}

.notif-dropdown {
    display: flex;
    align-items: center;
}

.res-circle {
    /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
    border-radius: 50%;
  
    /* (B) BACKGROUND COLOR */ 
    background: red;
    color: white;
   
    /* (C) NECESSARY TO POSITION TEXT BLOCK */
    line-height: 0;
    position: absolute;
    margin-left: 0.5rem;
    right: 0.5rem;
}
   
/* (D) MATCH HEIGHT */
.res-circle::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
   
/* (E) TEXT BLOCK */
.circle-txt {
    /* (E1) CENTER TEXT IN CIRCLE */
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
   
    /* (E2) THE FONT - NOT REALLY IMPORTANT */
    font-family: arial, sans-serif;
    font-weight: bold;
}


.name-trigger > .res-circle {
    font-size: 7pt;
    top: 0.2rem;
}

.listing-history-table,
.listing-metadata-table {
    margin-left: calc(1.25em + 0.25rem); /* Explicit width + margin of dropdown icon. */
    width: calc(100% - (1.25em + 0.25rem));
    .name-cell {
        padding-right: 15px;
        vertical-align: top;
    }

    th {
        background-color: #ccc;
    }
}

.listing-history-table {
    text-align: center;
}
